/* General styles */

dark-side-card {
  width: 100%;
}

dark-side-card + dark-side-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form dark-side-button {
  float: right;
  margin-top: 15px;
}
