/* General styles */

.module > a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
koa-card + koa-card {
  margin-top: 15px;
}

koa-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form koa-button {
  float: right;
  margin-top: 15px;
}
