/* General styles */

html {
  overflow: hidden;
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0px;
}
.auto {
  overflow: auto;
  height: 100%;
}
img {
  max-width: 100%;
}

/* Ads styles */

.main-ads {
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
}
.bottom-ads {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

/* Spinner styles */

#transitionloader {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  background-color: #ffffff;

  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*  Debug bar */

div.debug {
  background-color: #ccc;
  bottom: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  width: 100%;
}
div.debug button {
  font-size: 1em;
  padding: 5px;
}
div#appContent > div.ng-scope, div.template {
  height: 100%;
}
div#appContent {
  height: 100%;
}
div#main > div.ng-scope {
  position: absolute;
  width: 100%;
  height: 100%;
}
a, a:hover, a:link, a:active {
  outline: none;
  text-decoration: none;
  color: inherit;
}
#main-king {
  overflow: hidden;
}

#drawer {
  z-index: 2;
  overflow: auto;
}

/* Hidden scroll bar */
::-webkit-scrollbar {
  display: none;
}
