/* General styles */

golden-goose-card {
  width: 100%;
}

golden-goose-card + golden-goose-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form golden-goose-button {
  float: right;
  margin-top: 15px;
}
