/* General styles */

technology-card {
  width: 100%;
}

technology-card + technology-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form technology-button {
  float: right;
  margin-top: 15px;
}
