/* General styles */

citric-flames-card {
  width: 100%;
}

citric-flames-card + citric-flames-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form citric-flames-button {
  float: right;
  margin-top: 15px;
}
