/* General styles */

the-times-card {
  width: 100%;
}

the-times-card + the-times-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form the-times-button {
  float: right;
  margin-top: 15px;
}
