/* General styles */

candy-card {
  width: 100%;
}

candy-card + candy-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form candy-button {
  float: right;
  margin-top: 15px;
}
