<div class="homepage" ng-controller="homepageCtrl">

  <div class="feat-item">
    <div class="tile">
      <div class="cat-name theme-bg">
        <span>{{'homepage.latestnews' | translate}}</span>
      </div>
    </div>

    <div class="buttons">
      <koa-button class="left" onclick="_onPrevClick()">
        <iron-icon icon="chevron-left"></iron-icon>
      </koa-button>
      <koa-button class="right" onclick="_onNextClick()">
        <iron-icon icon="chevron-right"></iron-icon>
      </koa-button>
    </div>

    <neon-animated-pages selected="0">
      <neon-animatable ng-repeat="item in homepage.items">
        <paper-card image="{{item.featured}}">
          <div class="card-content">
            <span>{{item.title}}</span>
          </div>
          <div class="card-actions">
            <koa-button>
              <a href="{{item.url}}">{{item.lang.readmore}}</a>
            </koa-button>
          </div>
        </paper-card>
      </neon-animatable>
    </neon-animated-pages>
  </div>

  <div class="category-item {{item.class}}" ng-repeat="item in homepage.modulescope.sections">
    <a href="{{item.url}}">
      <div class="tile">
        <div class="sections">
          <img ng-src="{{item.icon}}" style="max-width:100%">
        </div>
        <div class="cat-name theme-bg">
          <div>
            <span>{{item.name}}</span>
            <iron-icon icon="arrow-forward"></iron-icon>
          </div>
        </div>
      </div>
    </a>
  </div>

  <script>
    function _onPrevClick() {
      var animatedPages = document.querySelector('neon-animated-pages');
      var selectedPage = parseInt(animatedPages.selected);
      animatedPages.entryAnimation = 'slide-from-left-animation';
      animatedPages.exitAnimation = 'slide-right-animation';
      animatedPages.selected = selectedPage === 2 ? 0 : (selectedPage - 1);
    }

    function _onNextClick() {
      var animatedPages = document.querySelector('neon-animated-pages');
      var selectedPage = parseInt(animatedPages.selected);
      animatedPages.entryAnimation = 'slide-from-right-animation';
      animatedPages.exitAnimation = 'slide-left-animation';
      animatedPages.selected = selectedPage === 2 ? 0 : (selectedPage + 1);
    }
  </script>
</div>
