<div class="module html" ng-controller="repeatdemoController">
<!--Regular Button-->
<button ng-click='doSomething($event)' > RegularOuter Click</button>

<!--Regular Button-->
<koa-button ng-click='update($event)' >KoaOuter CLICK</koa-button>


<!--Sample repeated card-->
<koa-card listen ng-repeat="n in sampleData" koa-image="{{n.thumbnailUrl}}" koa-heading="{{n.title}}" caption="Remove" content="{{n.title}}">
  <div class="content">
  </div>
  <div class="card-actions">
    <koa-button ng-click="doSomething()">Some action</koa-button>
    <koa-button class="caption" ng-click="remove()">Remove</koa-button>
  </div>
</koa-card>



<div>