/* General styles */

ice-card {
  width: 100%;
}

ice-card + ice-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form ice-button {
  float: right;
  margin-top: 15px;
}
