<div class='angularmenu' ng-controller="Menu1Ctrl">
<!-- <div> -->
  <div class='statusBar'>
    <p><button analytics-on analytics-event="Menu Button event" ng-click="showLeft($event)">Menu</button>  {{title}}</p>
  </div>
  <menu visible="leftVisible" alignment="left">
    <menu-item ng-repeat="(key, value) in menu.items"><a ng-href="/app/#{{key}}">{{value.name}}</a></menu-item>
  </menu>

    <span class="info">{{ angularmenu.custom }}</span>
    <div class='innerM'>
      <!-- moduleIdentifier + Template -->
      <div ng-include="angularmenuTemplate">
      </div>
    </div>
</div>
