/* General styles */

.module > a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
android-card + android-card {
  margin-top: 15px;
}

android-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form android-button {
  float: right;
  margin-top: 15px;
}
