/* General styles */

denim-card {
  width: 100%;
}

denim-card + denim-card {
  margin-top: 15px;
}

.module {
  padding: 10px;
}

/* Conctact module */

.contact form {
  margin: 15px;
}

.contact form denim-button {
  float: right;
  margin-top: 15px;
}
