<div class='firebase' ng-controller="firebaseCtrl">

  <koa-toast ng-if="firebase.modulescope.debug" text="Firebase connected!"></koa-toast>
<p class="firebasestatus" ng-if="firebase.data.length && firebase.modulescope.debug">firebase connected!</p>
  <p class="firebase" ng-if="firebase.data.length">
    <script>
      setTimeout(function() {
        if (document.querySelector('paper-toast')) {
          document.querySelector('paper-toast').show();
        }
      }, 1000);
    </script>
  </p>

  <!-- <p ng-if="!firebase.data.length">
    <paper-spinner active></paper-spinner>
  </p> -->

  <div ng-include="firebaseTemplate"></div>

</div>
